*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
/* navbar -section start */
.header{
    margin-top: 50px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.img-container{
    display:flex;
}
.img-container img {
    margin-right: 10px;
    margin-bottom: 15px;
}
.navbar ul{
    display: flex;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    padding-left: 30px;
    color:#424247;
    font-size: 18px;
    font-weight: 400;

}
.navbar-title{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}
.travel{
    color: #FF5400;
    font-size: 30px;
    font-weight: 800;
}
/* navbar section end */

/* header section start */
.header-content{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1100px;
    height: 500px;
    margin: 15px auto;
}
.header-content-all{
   text-align: center;
   padding: 100px 206px;
}
.header-title{
   color: #FFF;
   font-size: 64px;
   font-weight: 800;
   margin-bottom: 20px;
}

.header-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;

}
.input{

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    height: 70px;
    margin-top: 50px;
    padding-top: 10px;
}
.input input{
   color: rgba(19, 19, 24, 0.50);
   font-size: 16px;
   font-weight: 400;
   width: 17%;
   padding: 10px 15px;
   border-radius: 8px;
   margin: 10px;
   border: 0;
}
.primary-btn{
    border-radius: 8px;
   background: #FF5400;
   width: 17%;
   padding: 10px 20px;
   color: #FFF;
   font-size: 16px;
   font-weight: 700;
   border: 0;
   text-align: center;

}

/* header section end */
  
/* popular section starts */

.popular-container{
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
}

.popular-text{
    padding-top: 20px;
}
 
.popular-title{
   color: #131318;
   font-size: 40px;
   font-weight: 800;
}

.popular,.list{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.popular{
    padding-right: 50px;
}
.popular-img img{
    width: 350px;
   height: 420px;
   padding-top: 50px;
}
.list{
    margin-left: 20px;
    padding-right: 100px;
}

/* popular section ends */

/* responsive */

@media screen and (max-width:576px) {
    .header{
        text-align: center;
    }
    .navbar, .popular-container{
       flex-direction: column
    }
    .img-container{
        margin: auto;
    }
    .header-content{
        max-width: 90%;
        background-size: cover;
        background-position: center;
        max-height: 500px;
    }
    .header-content-all{
        text-align: center;
        padding: 20px 40px ;
    }
    .header-title,.popular-title{
        font-size: 30px;
    }
    .input{
        height: 45vh;
        margin-top: 10px;
    }
    .input input{
        display: flex;
        width: 80%;
        margin: 15px auto;
        text-align: left;
    }
     .primary-btn{
         width: 90%;
         text-align: left;
    }
    .popular-container{
        margin-top: 10px;
    }
    .popular-text{
       padding: 10px 20px;
    }
    .popular, .list{
        padding-right: 20px;
    }
    .popular-text .primary-btn{
        width: 30%;
    }
    .popular-img img{
        width: 90%;
        display: block;
        padding-top: 10px;
        margin: 0 auto;
    }
}
